@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;500;700&family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --text: #e2f6fd;
  --background: #021d27;
  --primary: #0daae2;
  --secondary: #043649;
  --accent: #bcf425;
  --font-heading: "Bricolage Grotesque", Helvetica, sans-serif;
  --font-text: "Nunito", sans-serif;
}

body {
  background-color: var(--background);
}

/* -- Layout -- */

/* --- Header --- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7rem;
}

.search-section {
  display: flex;
  padding: 0.5rem 1.3rem;
}

#city-search {
  flex-grow: 2;
}

.btn-city-search {
  display: flex;
  align-items: center;
}

/* -- Style -- */

/* --- Header --- */

header {
  background-color: var(--primary);
}

.brand-name {
  font-size: 3rem;
  font-family: var(--font-heading);
  font-weight: bold;
  letter-spacing: -2px;
  color: var(--text);
}

.search-section {
  background-color: var(--text);
  border-radius: 50px;
}

.search-section:focus-within {
  outline: 1px solid var(--secondary);
}

#city-search {
  border: none;
  background-color: var(--text);
  color: var(--background);
  font-size: 1.2rem;
  font-family: var(--font-text);
}

#city-search {
  outline: none;
}

.btn-city-search {
  display: flex;
  align-items: center;
  border: none;
  background-color: var(--text);
}

.btn-city-search:hover {
  cursor: pointer;
}

.btn-city-search > .material-symbols-rounded {
  font-size: 1.5rem;
  color: var(--background);
}
